<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<form action="" method="POST"
<input type="id" name="id" placeholder="Enter id"><br>
<input type="text" name="name" placeholder="Enter name"><br>
<input type="text" name="surname" placeholder="Enter surname"><br>
<input type="text" name="mobile" placeholder="Enter mobile no"><br>
<input type="email" name="email" placeholder="Enter email"><br>
<input type="text" name="branch" placeholder="Enter branch"><br>
<input type="text" name="role" placeholder="Enter role"><br>
	<input type="submit" value="send">
</form>
</body>
</html>